.sortable {
    cursor: pointer;
    color: rgb(221, 189, 85);
}

.warning {
    background-color: #d85f5f;
}

table {
  color: rgb(4, 46, 161);
  border-radius: 3px;
  overflow: hidden;
  margin: 1em 0;
  min-width: 400px;
  background: #dad8d8;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.zebraTable tr:nth-child(even){
    background: rgb(138, 205, 207);
}

